body {
  margin: 0px;
  color: rgb(70, 70, 70);
  cursor: default;
}

.landing-container {
  margin-top: 100px;
  padding: 20px 60px;
  font-size: 40px;
}

.landing-header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(70, 70, 70);
  color: rgb(238, 238, 238);
  padding: 0px 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.landing-settingsTitle {
  border-bottom: solid 2px rgb(190, 190, 190);
  display: flex;
  padding-bottom: 20px;
}

.component-container {
  border-bottom: solid 2px rgb(190, 190, 190);
  padding: 30px 0px;
}

.component-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-details {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.component-title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}

.component-text {
  font-size: 18px;
  padding-bottom: 10px;
}

.component-editButton {
  height: 50px;
  width: 140px;
  outline: none;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 106, 210);
}

#modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  position: relative;
  width: 440px;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-closeButtonContainer {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.modal-closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: rgb(0, 106, 210);
  outline: none;
  cursor: pointer;
}

.modal-bottomButtons {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.modal-saveButton {
  background-color: rgb(0, 47, 90);
  font-size: 18px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-cancelButton {
  background-color: rgb(0, 107, 211);
  font-size: 18px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
